/*Font Organisation*/
h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h2 {
  z-index: 2;
  font-family: 'Montserrat', sans-serif;
  color: rgb(43, 62, 81);
  font-weight: bold;
  font-size: 34px !important;
  line-height: 150%;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: rgb(43, 62, 81);
  font-weight: 400;
  font-size: 28px !important;
  text-align: center;
}

ul.a_list {
  list-style-type: circle;
}

html, body {
  width: 100%;
}

a {
  color: black;
  font-size: 1em;
}

a:focus {
  color: #EE3659 !important;
  text-decoration: none !important;
}
a:hover {
  color: #EE3659 !important;
  text-decoration: none !important;
}
#nav ul li a.selected {
  color: #EE3659 !important;
}
i {
  color: grey;
}

label {
  cursor: pointer;
}
label:focus {
  outline: none;
}


.home__wrapper{
  max-width: 1020px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Nav */

.topnav {
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.float-right{
  float: right!important;
}

.topnav a.active {
  color: rgb(43, 62, 81);
  font-weight: bolder;
  font-size: 24px;
}

.topnav .icon {
  display: none;
}

.section_container {
  padding: 100px 0px;
  padding-left: 100px;
}

.container_break{
  padding-top: 100px;
}

.bottom_container{
  padding-bottom: 100px;
}
.about_skateboard_section{
  background: #F9DED4;
  width: 100%;
  display: inline-block;
  padding: 88px 0 48px;
  position: relative;
  align-items: center;
}

.about_skateboard_section_alt{
  width: 100%;
  display: inline-block;
  position: relative;
  margin-top: 40px;
  margin-bottom: 80px;
  align-items: center;
}

.social_media {
  display: block;
  position: relative;
  top: 50%;
  text-align: center;
  padding-top: 40px;
}

.heading_gap{
  padding-bottom: 24px;
}

.paragraphs {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(43, 62, 81);
  line-height: 1.5em;
}

.center{
  text-align: center;
}

.profile__picture {
  width: 400px !important;
  margin: 0 auto;
}

.background{
  position: absolute;
  width: 55%;
  top: 1250px;
  left: -30px;
}

.background2{
  position: absolute;
  width: 46%;
}
.background3{
  background-color: #FF6B6B;
}

.white_text{
  color: white !important;
}
.ux_image {
  padding-top: 60px;
}
.read__more {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1rem;
  width: auto;
  background: white;
  color: rgb(43, 62, 81);
  border: 3px solid rgb(43, 62, 81);
  text-align: center;
  padding: 1rem;
  transition: opacity 0.2s ease-in 0s, border-color 0.2s ease-in 0s, color 0.4s ease-in 0s, background-color 0.3s ease-in 0.1s;
}
.read__more__container {
  padding-top: 60px;
}

.footer-below {
  font-size: 14px;
  padding-bottom: 60px;
  color: white;
}

.more_wrapping{
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

.add-top-padding{
  padding-top: 100px;
}

.round-corner{
  border-radius: 8%;
  box-shadow: 0 0 1px rgb(139 96 82 / 5%), 0 16px 24px rgb(139 96 82 / 10%);
}
.rows:after {
  content: "";
  clear: both;
  display: table;}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}
.column_bigger {
  float: left;
  width: 44%;
  padding: 50px 10px;

}
.column_bigger_float{
  width: 50%;
  margin: auto;
  float: left;
  padding: 10px;
}
.center_wrapper{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}
.image_header{
  background-image: url('img/skateboard_heading.svg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 500px;
}
.image_header_skate_mobile{
  background-image: url('img/skateboard_heading_mobile.svg');
  background-position: center;
  background-repeat: no-repeat;
    background-size: cover;
  padding: 150px!important;
}
.image_header_surf{
  background-image: url('img/surfboard_heading.svg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 500px;
}
.image_header_surf_mobile{
  background-image: url('img/surfboard_heading_mobile.svg');
  background-position: center;
  background-repeat: no-repeat;
    background-size: cover;
  padding: 150px!important;
}
.image_header_shirt{
  background-image: url('img/shirt_heading.svg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 500px;
}
.image_header_shirt_mobile{
  background-image: url('img/shirt_heading_mobile.svg');
  background-position: center;
  background-repeat: no-repeat;
    background-size: cover;
  padding: 100px!important;
}
.image_header_ctm{
  background-image: url('img/ctm_header.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 500px;
}
.image_header_ctm_mobile{
  background-image: url('img/mobile_ctm_header.png');
  background-position: center;
  background-repeat: no-repeat;
  padding: 200px!important;
}

.breaker {
  position: relative;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}


@media (max-width: 991px) {
  .hidden-mobile{
    display: none;
  }
}

@media (min-width: 992px) {
  .show-mobile {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none !important;
    display: block;
    text-align: left;
  }
  .center-text{
      margin: 0px 10px !important;
  }
  .row{
    padding-top: 15px;
  }
  .section_container{
    padding: 50px;
  }
  .background{
    top: 1400px;
    width: 100%
  }
  .background2{
      width: 100%
  }
  .column_bigger{
    width: 50%;
    margin: auto;
    float: none;
  }

  .add-top-padding{
    padding-top: 0px;
  }
  .add-margin{
    margin:20px;
  }
}
